
body {
    font-family: 'Montserrat', sans-serif;
    font-size: large;

}

#messages {
    margin-top: 2rem;
}

.message {
    margin: 0;
    font-size: 3rem;
    line-height: .8;
}

input {
    font-family: inherit;
    width: 60%;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    shape-outside: none; 
}

@keyframes fall {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.falling {
    animation: fall 1s ease-in-out forwards;
}

#rain-container, #rose-container, #bitcoin-container {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

img {
    display: block;
    margin: 10px auto;
}
