
body {
    font-family: 'Montserrat', sans-serif;
    font-size:  1rem;

}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    position: relative;
    z-index: 3; /* This will ensure the text is above the images and on top of h1 */

}

#messages {
    margin-top: 2rem;
}

.message {
    margin: 0;
    font-size: 3rem;
    line-height: .8;
}


.button {
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    position: relative;
    z-index: 4; /* This will ensure the text is above the images and on top of h1 */
}

.buttont {
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px;
    color: #070707;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 12px;
}
div {
    position: relative;
    font-size: medium;
}

@keyframes fall {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.falling {
    opacity: 0.7;
    animation: fall 100s linear infinite;
}

.falling:nth-child(odd) {
    animation-delay: 1s;
}

.falling:nth-child(even) {
    animation-delay: 2s;
}

@keyframes fall {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

#mainTitle {
    position: relative;
    z-index: 1;
}

#rain-container, #rose-container, #bitcoin-container {
    position: relative;
    z-index: 2;
}

#aboveText {
    position: relative;
    z-index: 3; /* This will ensure the text is above the images and on top of h1 */
}
